/* andika-regular - cyrillic */
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/andika-v22-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/andika-v22-cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/andika-v22-cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('./fonts/andika-v22-cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('./fonts/andika-v22-cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/andika-v22-cyrillic-regular.svg#Andika') format('svg'); /* Legacy iOS */
}
/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/merriweather-sans-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/merriweather-sans-v21-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/merriweather-sans-v21-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/merriweather-sans-v21-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/merriweather-sans-v21-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/merriweather-sans-v21-latin-regular.svg#MerriweatherSans')
      format('svg'); /* Legacy iOS */
}
/* merriweather-sans-700 - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/merriweather-sans-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/merriweather-sans-v21-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/merriweather-sans-v21-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/merriweather-sans-v21-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/merriweather-sans-v21-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/merriweather-sans-v21-latin-700.svg#MerriweatherSans')
      format('svg'); /* Legacy iOS */
}
/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/merriweather-sans-v21-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('./fonts/merriweather-sans-v21-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./fonts/merriweather-sans-v21-latin-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('./fonts/merriweather-sans-v21-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('./fonts/merriweather-sans-v21-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./fonts/merriweather-sans-v21-latin-italic.svg#MerriweatherSans')
      format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather Sans', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #e2ddde;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #28292f;;
}

.container {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
}

.main-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(228, 227, 227, 0.8);
  transition: 1s;
}

.main-photo:hover {
  box-shadow: 0 3px 30px rgba(236, 7, 7, 0.8);
}

.footer-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(228, 227, 227, 0.815);
}

.footer-img-right {
  width: 50px;
  height: 50px;
}


.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  column-gap: 45px;
  flex-direction: row;
  white-space: nowrap;
}

.nav-link {
  transition: 1s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #a50000;

  opacity: 90%;
}
.header-logo:hover {
  transition: 2s;
  opacity: 50%;
}

.nav-item:last-child {
  margin-right: 0;
}

a {
  font-family: 'Merriweather Sans', 'sans-serif';
  font-size: 20px;
  color: #e2ddde;
  text-decoration: none;
}

.left-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
}
.right-main-container-about p {
  font-family: 'Andika';
  font-size: 24px;
}

.left-main-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-main-container-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
}

h1 {
  font-weight: lighter;
}
h2 {
  margin: 0;
  font-weight: 300;
}

a:hover {
  transition: all ease 0.5s;
  color: #a50000;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.header_nav {
  display: flex;
  column-gap: 100px;
  align-items: center;
}
.main_container {
  display: flex;
  column-gap: 10px;
}


.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header_nav {
    column-gap: 0px;
  }

  .right-main-container {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  ul {
    padding: 0;
  }
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    column-gap: 10px;
    flex-direction: row;
    white-space: nowrap;
  }
  .main_container {
    display: block;
  }
  .left-main-container {
    flex-direction: row;
  }
  .right-main-container {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  a {
    font-size: 12px;
  }

  .left-main-container {
    flex-direction: column;
  }
  
  .right-main-container-about p {
    font-family: 'Andika';
    font-size: 18px;
}
}
